main {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    width: 100%;
    max-width: 500px;
    margin: auto 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

form {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 100%;
    display: grid;
    gap: 1.5rem;
}

.pivo-area, .percentual-lamina {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
}

.pivo, .area, .data, .percentual, .lamina, .horimetro-1, .horimetro-2, .horas {
    display: flex;
    flex-direction: column;
}

.horimetro{
    display: flex;
    gap: 2.5rem;
}
.horimetro-1-2-horas {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);;
    justify-content: space-between;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.horimetro-1, .horimetro-2 {
    font-size: 1.5rem;
}

.horas label {
    text-align: center;
} 

.container-horimetro h1 {
    text-align: center;
    margin: 0 1rem 5rem 1rem;
    font-size: 4rem;
}
button {
    width: 200px;
    padding: 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 2rem;
    margin: 4rem auto;
}
input {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 2rem;
    text-align: center;
}

.data input {
    width: 180px;
}

.pivo input {
    width: 120px;
}

.area input {
    min-width: 160px;
}

.horas input {
    width: 150px;
}

.container-horimetro a {
    width: auto;
    align-self: flex-start;
    margin-left: 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.destinos {
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

a {
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    background-color: rgb(83, 83, 102);
    color: white;
}